@{ 
    ViewData["Title"] = "Access Denied";
}

<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h6 class="text-danger">You do not have permission to access this section</h6>
    <img src="~/images/stopsign.png" style="height:300px; width:300px" alt="You Have No Access" />
</div>
